<dom-module id="login-dialog">
  <style>
  </style>

  <template>
    <paper-dialog id="dialog" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
      Login
    </paper-dialog>
  </template>
</dom-module>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
  Polymer({
    is: "login-dialog",

    open: function() {
      var dialog = this.$.dialog;
      dialog.open();
      dialog.addEventListener("iron-overlay-opened", function() {
        dialog.center();
        dialog.removeEventListener("iron-overlay-opened");
      });
    }
  });
</script>
