<dom-module id="pokemon-info">
  <style>
    section:not([data-route="signin"]) {
      width: 500px;
    }

    .type {
      padding: 0 0 0 12px;
      font-style: italic;
    }

    .center-horizontal {
      margin: auto;
    }
  </style>

  <template>
    <paper-dialog id="dialog" with-backdrop entry-animation="scale-up-animation" exit-animation="fade-out-animation">
      <iron-pages attr-for-selected="data-route" selected="{{selected}}">
        <section data-route="info">
          <div class="row">
            <h3>{{pokemon.name}}</h3>
            <span class="type">({{pokemon.type}})</span>
            <span class="flex"></span>
            <paper-icon-button icon="create" on-click="eUpdate"></paper-icon-button>
            <paper-icon-button icon="clear" on-click="eDelete"></paper-icon-button>
          </div>
          <div class="row">
            <iron-image class="col-4" sizing="contain" src="{{pokemon.img_url}}" preload fade width=120 height=120></iron-image>
            <div class="col-8">{{pokemon.description}}</div>
          </div>
        </section>

        <section data-route="error">
          <div>{{error}}</div>
        </section>

        <section data-route="delete">
          <h3>Delete Pokemon</h3>
          <div class="row">
            <iron-image class="col-4" sizing="contain" src="{{pokemon.img_url}}" preload fade width=120 height=120></iron-image>
            <div>
              <h4 class="center-horizontal">Are you sure?</div>
              <div class="center-horizontal">
                <paper-button on-click="eInfo">Cancel</paper-button>
                <paper-button on-click="eRequestDelete">Delete</paper-button>
              </div>
            </div>
          </div>
        </section>

        <section data-route="update">
          <div class="row">
            <paper-icon-button icon="arrow-back" on-click="eInfo"></paper-icon-button>
            <h3>Update Pokemon</h3>
            <span class="flex"></span>
            <paper-icon-button icon="save" on-click="eRequestUpdate"></paper-icon-button>
          </div>
          <form id="updateForm" is="iron-form" method="post">
            <paper-input name="name" label="Name" value="[[pokemon.name]]"></paper-input>
            <paper-dropdown-menu name="type" label="Type">
              <paper-menu class="dropdown-content" attr-for-selected="type" selected="[[pokemon.type]]">
                <template is="dom-repeat" items="[[types]]">
                  <paper-item type="[[item]]">[[item]]</paper-item>
                </template>
              </paper-menu>
            </paper-dropdown-menu>
            <paper-input name="img_url" label="Image URL" value="[[pokemon.img_url]]"></paper-input>
            <paper-textarea name="description" label="Description" value="[[pokemon.description]]"></paper-textarea>
          </form>
        </section>

        <section data-route="add">
          <div class="row">
            <h3>Add Pokemon</h3>
          </div>
          <form id="addForm" is="iron-form" method="put">
            <paper-input name="name" label="Name"></paper-input>
            <paper-dropdown-menu name="type" label="Type">
              <paper-menu class="dropdown-content" attr-for-selected="type" selected="[[defaultType]]">
                <template is="dom-repeat" items="[[types]]">
                  <paper-item type="[[item]]">[[item]]</paper-item>
                </template>
              </paper-menu>
            </paper-dropdown-menu>
            <paper-input name="img_url" label="Image URL"></paper-input>
            <paper-textarea name="description" label="Description"></paper-textarea>
          </form>
          <div class="row">
            <span class="flex"></span>
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button autofocus on-click="eRequestAdd">Add</paper-button>
          </div>
        </section>

        <section data-route="signin">
          <google-signin client-id="369330850632-f83452bg5sk33m76a18mkf27jg5gkhjg.apps.googleusercontent.com"
            scopes="openid email" offline
          ></google-signin>
        </section>
      </iron-pages>
    </paper-dialog>
  </template>
</dom-module>

<script>
  Polymer({
    is: "pokemon-info",

    listeners: {
      "google-signin-success": "eSignedIn",
      "google-signed-out": "eSignedOut"
    },

    properties: {
      defaultType: String,

      pokemon: Object,

      selected: {
        type: String,
        value: "info"
      },

      types: Array,

      _authenticating: {
        type: Boolean,
        value: false
      }
    },

    ready: function() {
      var polymer = this;
      $.ajax("/v1/types", {
        method: "GET",
        success: function(data) {
          polymer.types = data.types;
        },

        error: function(error) {
          polymer.types = [];
        }
      })
    },

    eDelete: function() {
      this.selected = "delete";
    },

    eInfo: function() {
      this.selected = "info";
    },

    eRequestAdd: function() {
      var formData = this.$.addForm.serialize();
      var polymer = this;
      this._appendUserInfo(formData);
      $.ajax("/modify", {
        method: "PUT",
        data: formData,
        success: function(data) {
          polymer.$.dialog.close();
          var row = document.createElement("tr");
          row.setAttribute("class", "pointer entry");
          row.setAttribute("pokemon-id", data.id.toString());
          var eventListener = document.querySelector("#eventListener");
          row.addEventListener("click", eventListener.eShowPokemon);
          var cell = document.createElement("td");
          var icon = document.createElement("iron-image");
          icon.setAttribute("sizing", "cover");
          icon.setAttribute("src", formData.img_url);
          icon.setAttribute("preload", true);
          icon.setAttribute("fade", true);
          icon.setAttribute("width", 48);
          icon.setAttribute("height", 48);
          cell.appendChild(icon);
          row.appendChild(cell);
          cell = document.createElement("td");
          $(cell).html(formData.name);
          row.appendChild(cell);
          cell = document.createElement("td");
          $(cell).html(formData.type);
          row.appendChild(cell);
          cell = document.createElement("td");
          cell.setAttribute("class", "overflow-hidden");
          $(cell).html(formData.description);
          row.appendChild(cell);
          rowInLatestItem = row.cloneNode(true);
          rowInLatestItem.addEventListener("click", eventListener.eShowPokemon);

          $('section[data-route="latest_item"] table').prepend(rowInLatestItem);
          $('section[data-route="' + formData.type + '"] table').append(row);
        },

        error: function(error) {
          polymer.selected = "error";
          polymer.error = error.responseJSON.message !== undefined ? error.responseJSON.message : error.responseText;
        }
      });
    },

    eRequestDelete: function() {
      var polymer = this;
      var data = {id: this.pokemon.id};
      this._appendUserInfo(data);
      $.ajax("/modify", {
        method: "DELETE",
        data: data,
        success: function(data) {
          var displayRows = document.querySelectorAll('tr[pokemon-id="' + data.id + '"]');
          for (var i = 0; i < displayRows.length; i++) {
            var row = displayRows[i];
            row.parentNode.removeChild(row);
          }
          polymer.$.dialog.close();
        },

        error: function(error) {
          polymer.selected = "error";
          polymer.error = error.responseJSON.message !== undefined ? error.responseJSON.message : error.responseText;
        }
      });
    },

    eRequestUpdate: function() {
      var data = this.$.updateForm.serialize();
      data.id = this.pokemon.id;
      this._appendUserInfo(data);
      var polymer = this;
      $.ajax("/modify", {
        method: "POST",
        data: data,
        success: function(data) {
          polymer.pokemon = data.pokemon;
          polymer.selected = "info";
          var displayRows = document.querySelectorAll('tr[pokemon-id="' + data.pokemon.id + '"]');
          for (var i = 0; i < displayRows.length; i++) {
            var row = displayRows[i];
            var cells = row.querySelectorAll("td");
            var oldType = $(cells[2]).html();
            var newType = data.pokemon.type;
            $(cells[0].querySelector("iron-image")).attr("src", data.pokemon.img_url);
            $(cells[1]).html(data.pokemon.name);
            $(cells[2]).html(newType);
            $(cells[3]).html(data.pokemon.description);
            if (oldType != newType && $(row).closest("section").attr("data-route") != "latest_item") {
              row.parentNode.removeChild(row);
              var section = $('section[data-route="' + newType + '"]');
              section.children('table').append(row);
            }
          }
        },

        error: function(error) {
          polymer.selected = "error";
          polymer.error = error.responseJSON.message !== undefined ? error.responseJSON.message : error.responseText;
        }
      });
    },

    eSignedIn: function() {
      document.querySelector("#addPokemon").style.display = "block";
      this.$.dialog.close();
    },

    eSignedOut: function(event) {
      document.querySelector("#addPokemon").style.display = "none";
      this.$.dialog.close();
    },

    eUpdate: function() {
      this.selected = "update";
    },

    open: function() {
      var dialog = this.$.dialog;
      dialog.open();
      dialog.addEventListener("iron-overlay-opened", function() {
        dialog.center();
        dialog.removeEventListener("iron-overlay-opened");
      });
    },

    _appendUserInfo(object) {
      if (!this.$$('google-signin').signedIn) {
        return;
      }
      var userInfo = gapi.auth2.getAuthInstance().currentUser.get();
      object.state = window.sessionState;
      object.access_token = userInfo.po.access_token;
      object.user_id = userInfo.El;
      object.user_email = userInfo.zt.po;
    }
  });
</script>
