<!DOCTYPE HTML>
<html>
<head>
  <title>Pokedex</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Jquery -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>

  <!-- Fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway" type="text/css">

  <!--  Load webcomponents-lite.min.js for polyfill support. -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

  <!-- Normailze stylesheet for cross-browser support -->
  <link rel="stylesheet" src="http://normalize-css.googlecode.com/svn/trunk/normalize.css">

  <!-- Components, Styles and Scripts import -->
  <link rel="import" href="bower_components/iron-icons/iron-icons.html">
  <link rel="import" href="bower_components/iron-image/iron-image.html">
  <link rel="import" href="bower_components/iron-pages/iron-pages.html">
  <link rel="import" href="bower_components/neon-animation/neon-animation.html">
  <link rel="import" href="bower_components/paper-dialog/paper-dialog.html">
  <link rel="import" href="bower_components/paper-drawer-panel/paper-drawer-panel.html">
  <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="bower_components/paper-item/paper-item.html">
  <link rel="import" href="bower_components/paper-menu/paper-menu.html">
  <link rel="import" href="bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
  <link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/fw-layout.css">
  <link rel="stylesheet" href="css/fw-template.css">
  <link rel="import" href="css/custom-style.html">
  <link rel="import" href="components/pokemon-info.html">
  <script src="js/event-listener.js"></script>
  <script src="js/ready.js"></script>

</head>
<body class="fullbleed layout vertical">
  <template id="eventListener" is="dom-bind">
    <paper-drawer-panel class="drawer-panel">
      <div drawer>
        <paper-toolbar class="drawer-toolbar">
          <span class="drawer-toolbar-menu">Types</span>
        </paper-toolbar>
        <paper-menu>
          {% for i in types %}
          <paper-item on-click="eDrawerItemClick">{{i.name}}</paper-item>
          {% endfor %}
        </paper-menu>
      </div>
      <paper-scroll-header-panel main condenses keep-condensed-header on-paper-header-transform="eHeaderTransform">
        <paper-toolbar id="mainToolbar" class="tall">
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <div class="middle middle-container center horizontal layout">
            <span class="app-name">Pokedex</span>
          </div>
          <div class="bottom bottom-container center horizontal layout">
            <div class="bottom-title paper-font-subhead">Pokemon Database</div>
          </div>
        </paper-toolbar>
        <div class="content">
          <iron-pages attr-for-selected="data-route" selected={{route}}>
            <section data-route="latest_item">
              <paper-toolbar class="drawer-toolbar">
                <span class="toolbar-header">Latest Entries</span>
              </paper-toolbar>
              <table>
                {% for entry in latestEntries %}
                <tr class="pointer entry" pokemon-id="{{entry.id}}" on-click="eShowPokemon">
                  <td>
                    <iron-image sizing="cover" src="{{entry.getIconUrl()}}" preload fade width=48 height=48></iron-image>
                  </td>
                  <td>{{entry.name}}</td>
                  <td>{{entry.type.name}}</td>
                  <td class="overflow-hidden">{{entry.description}}</td>
                </tr>
                {% endfor %}
              </table>
            </section>
            {% for i in types %}
            <section data-route="{{i.name}}">
              <paper-toolbar class="drawer-toolbar">
                <span class="toolbar-header">{{i.name}} Type ({{i.pokemons|length}} Pokemons)</span>
              </paper-toolbar>
              <table>
                {% for pokemon in i.pokemons %}
                <tr class="pointer entry" pokemon-id="{{pokemon.id}}" on-click="eShowPokemon">
                  <td>
                    <iron-image sizing="cover" src="{{pokemon.getIconUrl()}}" preload fade width=48 height=48></iron-image>
                  </td>
                  <td>{{pokemon.name}}</td>
                  <td>{{pokemon.type.name}}</td>
                  <td class="overflow-hidden">{{pokemon.description}}</td>
                </tr>
                {% endfor %}
              </table>
            </section>
            {% endfor %}
          </iron-pages>
        </div>
      </paper-scroll-header-panel>
    </paper-drawer-panel>
    <pokemon-info></pokemon-info>
  </template>
</body>
</html>
